
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background: #f7e8ef;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
  }

  .container {
    margin-top: 20px;
    width: 95%;
    max-width: 1400px;
    background: #fce8f1;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
  }

  .header {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    padding-bottom: 0px;
    font-size: 22px;
    font-weight: 600;
  }

  .profile-box {
    display: flex;
    align-items: center;
    gap: 10px;
    background: white;
    padding: 10px 15px;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    
  }

  .profile-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: pink;
    
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 20px;
  }

  .column {
    background: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  }

  .col-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #123d7b;
    text-align: center;
  }

  .task {
    background: #feecf0;
    padding: 15px 20px;
    margin-bottom: 12px;
    border-radius: 12px;
    font-size: 18px;
    color: #21345a;
    box-shadow: 0 2px 6px rgba(0,0,0,0.07);
    border: none;
    cursor: pointer;
    width: 100%;
    transition: 0.2s;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .task:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.12);
    background: #fbe1ec;
  }

  
  .creat-task{
    background: #fbf8f9;
    padding: 1% 50%;
    margin-right: 12px;
    border-radius: 12px;
    font-size: 18px;
    color: #21345a;
    box-shadow: 0 2px 6px rgba(0,0,0,0.07);
    border: none;
    cursor: pointer;
    width: 100%;
    transition: 0.2s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .creat-task:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.12);
    background: #fff;
  }

  .check-icon {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid #8ba0ff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #4d6bff;
    background: #ffffffaa;
    transition: 0.2s;
  }

  .checked {
    background: #6d85ff;
    color: white;
    border-color: #4d6bff;
  }

  .chat-bubble {
    background: #ffffff;
    padding: 14px 18px;
    margin-bottom: 12px;
    border-radius: 12px;
    width: fit-content;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    font-size: 16px;
    color: #223b70;
  }

  .chat-input {
    width: 90%;
    margin-top: 20px;
    background: #ffffff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.12);
  }

  @media (max-width: 768px) {
    .grid {
      grid-template-columns: 1fr;
    }
    .chat-input {
      width: 100%;
    }
  }
